<% if @question && (@comment_type == "Question") %>
  <% response_id_string = @question.id %>
  <% response_type_string = @question.class %>
  <% form_id = "question_comment" %>
<% end %>
<% if @answer && (@comment_type == "Answer") %>
  <% response_id_string = @answer.id %>
  <% response_type_string = @answer.class %>
  <% form_id = "answer_comment" %>
<% end %>

<div class="new-comment-container<%= "-question" if @comment_type == "Question" %>" style="display: none" name="<%= @answer.id if @comment_type == "Answer" %>">
  <form id="<%= form_id %>" action="/comments/new" method="post">
    <textarea id="question_textarea" name="text" cols="40" rows="2"></textarea>
    <input type="hidden" name="response_id" value="<%= response_id_string %>"></input>
    <input type="hidden" name="response_type" value="<%= response_type_string%>"></input>
    <button class="submit_comment" class="submit">Submit Comment</button>
  </form>
</div>
