<div class="question-container">
  <div class="vote-container">
    <a href="/questions/<%=@question.id%>/upvote" class="upvote"><i class="fa fa-3x fa-caret-up vote-container-items anti-margin" id="Question<%=@question.id%>"></i></a>
    <h4 class="vote-container-items vote-count" id="Question<%=@question.id%>"><%=@question.vote_total%><h4>
    <a href="/questions/<%=@question.id%>/downvote" class="downvote"><i class="fa fa-3x fa-caret-down vote-container-items" id="Question<%=@question.id%>"></i></a>
  </div>

  <div class="text-container">
    <h3><%= @question.text %></h3>
  </div>
  <div class="created-by-container">
    <h4>asked <%= @question.time_since_creation%> ago</h4><h4>
      <a href="/users/<%= @question.user.github_username %>"><img src="<%= @question.user.github_avatar_url %>" height="20px" style="border-radius: 50%; vertical-align: middle""> <%=@question_user.name%></a></h4>
  </div>

<% @comment_type = "Question" %>
<% @all_comments_id = "all-comments" %>
<%= erb :"comment/_comment"%>
<h3 class="add-comment-question"><a href="#" id="question-add-comment" >add a comment<a></h3>
<h3 class="answers-count"><%= @question_answers.count %> Answers</h3>
</div>


