<div class="question-container">
  <div class="vote-container">
    <a href="/questions/<%=@question.id%>/upvote"><i class="fa fa-3x fa-caret-up vote-container-items anti-margin"></i></a>
    <h4 class="vote-container-items vote-count"><%=@question.vote_total%><h4>
    <a href="/questions/<%=@question.id%>/downvote"><i class="fa fa-3x fa-caret-down vote-container-items"></i></a>
  </div>
  <div class="text-container">
    <h3><%= @question.text %></h3>
  </div>
  <div class="created-by-container">
    <h4>asked <%= @question.time_since_creation%> ago<br>
      <a href="/users/<%= @question.user.id %>"><%=@question_user.full_name%></a></h4>
  </div>
<% @comment_type = "Question" %>
<%= erb :"comment/_comment"%>
<h3 class="add-comment-question"><a href="#" name="question-add-comment" >add a comment<a></h3>
<h3 class="answers-count"><%= @question_answers.count %> Answers</h3>
</div>


