<div class="container">
  <h1 class="question-title"><%= @question.title %></h1>
  <% @comments = @question.comments %>
  <%= erb :"question/_question" %>
  <% @question_answers.each do |answer| %>
    <% @answer = answer %>
    <% @comments = @answer.comments %>
    <%= erb :"answer/_answer" %>
  <% end %>

  <div class="container">
  <form class="form-horizontal" action="/questions/<%=@question.id%>/answers/new" method="POST">
  <fieldset>

  <!-- Form Name -->
  <legend>Post Answer</legend>

  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textarea"></label>
    <div class="col-md-4">
      <textarea class="form-control" id="text" name="text" rows="10" cols="50" placeholder="Hey, good idea!"></textarea>
    </div>
  </div>
<input type="hidden" name="question_id" value="<%= @question.id %>"></input>
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="post-answer"></label>
    <div class="col-md-4">
      <button id="post-answer" name="post-answer" class="btn btn-primary">Post Answer</button>
    </div>
  </div>

  </fieldset>
  </form>
</div>
</div>
