<div class="container profile-container">
  <center><img src="<%= @viewing_user.github_avatar_url %>" height="150px" title="GitHub avatar" style="border-radius: 50%"></center>
  <% if @logged_in_as && @logged_in_as.id == @viewing_user.id %>
    <h1>Hello, <%= @logged_in_as.name %>!</h1>
    <p>Here's the information we have for you:</p>
    <div class="list-container">
    <ul>
      <li><span class="color">Name</span><span class="indent"><%= @logged_in_as.name %></li>
      <li><span class="color">Email address</span><span class="indent"><%= @logged_in_as.email %></li>
      <li><span class="color">GitHub username</span><span class="indent"><%= @logged_in_as.github_username %></li>
      <li><span class="color">Registered at</span><span class="indent"><%= @logged_in_as.created_at %></li>
      <li><span class="color">Updated at</span><span class="indent"><%= @logged_in_as.updated_at %></li>
    </ul>
    </div>
  <% else %>
  <div class="all-posts-container">
    <h1><%= @viewing_user.github_username %>'s profile:</h1>
  <% end %>
  <% if !@viewing_user_questions.empty? %>
  <% @viewing_user_questions %>
    <h3>Questions:</h3>
    <ul>
    <% @viewing_user_questions.each do |question| %>
      <li><a href="/questions/<%= question.id %>"><%= question.title %></a>  asked <%=question.time_since_creation%> ago</li>
    <% end %>
    </ul>
    <% end %>
    <% if !@viewing_user_answers.empty? %>
    <h3>Answers:</h3>
    <ul>
    <% @viewing_user_answers.each do |answer| %>
      <li><a href="/questions/<%= answer.question_id %>"><%= answer.text.slice(0...40) %>...</a> answered <%=answer.time_since_creation%> ago</li>
    <% end %>
    </ul>
    <% end %>
    <% if !@viewing_user_comments.empty? %>
    <h3>Comments:</h3>
    <ul>
    <% @viewing_user_comments.each do |comment| %>
      <li><a href="/questions/<%= comment.response_id %>"><%= comment.text.slice(0..40) %>...</a> commented <%=comment.time_since_creation%> ago</li>
    <% end %>
    </ul>
    <% end %>
  </div>
</div>
